{%extends 'ttsx_goods/base.html'%}
{%block headjs%}
	<script type="text/javascript">
		$(function(){
			var $add_x = $('#add_cart').offset().top;
			var $add_y = $('#add_cart').offset().left;

			var $to_x = $('#show_count').offset().top;
			var $to_y = $('#show_count').offset().left;

			$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
			$('#add_cart').click(function(){
				$(".add_jump").stop().animate({
					'left': $to_y+7,
					'top': $to_x+7},
					"fast", function() {
						$(".add_jump").fadeOut('fast',function(){
							$('#show_count').html(2);
						});

				});
			})

			$('.num_show').blur(function(){
				//判断是否合法
				var num = parseInt($(this).val())
				var kucun = parseInt($('#hidde').val())
				if (num<1){
					num = 1	
				}
				if(num>kucun){
					num = kucun
				}
				if(isNaN(num)){
					num = 1
				}
				$(this).val(num)
				// 单价
				price = parseFloat($('.show_pirze em').text())
				total = price *num
				
				$('.total em').text(total.toFixed(2) + '元')
				 
			})
			$('.add').click(function(){
				// 添加数量
				var num = parseInt($('.num_show').val());
				num++
				$('.num_show').val(num).blur()
			})
			$('.minus').click(function(){
				// 减少数量
				var num = parseInt($('.num_show').val());
				num--
				$('.num_show').val(num).blur()
			})
		})
		
	</script>
{%endblock headjs%}
{%block fenlei%}
	<input type="hidden" id='hidde' value="{{good.gkucun}}">
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{good.gtype.ttitle}}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>
	<div class="goods_detail_con clearfix clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{good.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{good.gtitle}}</h3>
			<p>{{good.gsubtitle}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{good.gprice}}</em></span>
				<span class="show_unit">单  位：{{good.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{good.gprice}}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>
{%endblock fenlei%}
{%block right%}
	<div class="r_wrap fr clearfix">
		<ul class="detail_tab clearfix">
			<li class="active">商品介绍</li>
			<li>评论</li>
		</ul>

		<div class="tab_content">
			{{good.gcontent|safe}}
		</div>

	</div>
</div>
<div class="add_jump"></div>
{%endblock right%}